# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Data
data/raw/
data/interim/
data/processed/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/
# Scraped data
data/raw/*.csv
data/processed/*.csv
data/urls/*.csv